/* ## Typography
--------------------------------------------- */

body {
	background-color: $base-background-color;
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: 400;
	line-height: $base-line-height;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ### Headings */

h1,
h2,
h3,
h4,
h5,
h6,
.editor-post-title__block .editor-post-title__input {
	font-family: $heading-font-family;
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
	font-weight: 600;
}

h1,
h2 {
	margin: 0 0 $base-spacing;
}

h5,
h6 {
	color: $primary-color;
	text-transform: uppercase;
	-webkit-font-smoothing: subpixel-antialiased;
}

// Use a modular scale to size all headings automatically.
@for $i from 1 through 6 {
	h#{$i} {
		font-size: modular-scale((6 - $i), 1.8rem, $major-third);
	}
}

.editor-post-title__block .editor-post-title__input {
	font-size: modular-scale((6 - 1), 1.8rem, $major-third);
}

h2.entry-title {
	font-size: modular-scale((6 - 1), 1.8rem, $major-third);
}

.entry-title a {
	color: $dark-gray;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $primary-color;
	}
}

.widget-title {
	font-size: 1.8rem;
	margin-bottom: $small-spacing;
}

/* ### Paragraph */

p {
	margin: 0 0 $small-spacing;
	padding: 0;

	&.has-small-font-size {
		font-size: $base-font-size * 0.9; // 18px
	}

	&.has-regular-font-size {
		font-size: $base-font-size; // 20px
	}

	&.has-large-font-size {
		font-size: $base-font-size * 1.2; // 24px
	}

	&.has-larger-font-size {
		font-size: $base-font-size * 1.3; // 26px
	}
}

p.has-drop-cap:not(:focus)::first-letter {
	margin: 0.2rem 0.8rem 0 -0.8rem;
}

p.has-larger-font-size.has-drop-cap:not(:focus)::first-letter,
p.has-small-font-size.has-drop-cap:not(:focus)::first-letter {
	margin-right: 0.1rem;
}

p.has-background {
	padding: $base-spacing / 1.2 $base-spacing;
}

p.has-text-color a,
p.has-background a {
	color: inherit;
}

p.has-text-color a:focus,
p.has-background a:focus,
p.has-text-color a:hover,
p.has-background a:hover {
	color: inherit;
	text-decoration: none;
}

p.has-background.light-text a {
	color: #fff;
	text-decoration: underline;
}

p.has-background.light-text a:focus,
p.has-background.light-text a:hover {
	text-decoration: none;
}

/* ### Links */

a {
	color: $primary-color;
	text-decoration: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

a[href^='tel'],
a[href^='fax'] {
	color: inherit;
	text-decoration: none;
}

/* ### Focus Styles */

:focus {
	outline: none;
	border-radius: 2px;
	box-shadow: 0 0 0 2px rgba($primary-color, 0.5);
}

/* ### General Tags */

mark {
	padding: 0.2rem;
	background-color: #fcefa9;
	font-size: 95%;
}

sup {
	text-transform: lowercase;
}

address {
	margin-bottom: $base-spacing;
}

hr {
	border: none;
	border-top: $base-border;
	margin: $base-spacing * 1.5 auto;
}

q {
	font-size: $base-font-size;
	font-style: italic;
}

/* ## Embedded Content
--------------------------------------------- */

img,
picture,
embed,
iframe,
object,
video {
	max-width: 100%;
}

img,
picture {
	margin: 0;
	height: auto;
}

figure {
	margin: 0;
}

/* ### Embed Containers */

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
