/* ## Classic Editor
--------------------------------------------- */

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 $base-spacing;
}

.gallery-caption,
.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.gallery {
	@include clearfix;
	margin: 0 0 $base-spacing * 2 0;
	padding: 0;

	.gallery-item {
		margin: $base-spacing 0;
		padding: 0;
		text-align: center;
		width: 100%;
		height: auto;
	}

	.gallery-icon {
		margin: 0;
		padding: 0;
	}

	.wp-caption-text {
		margin: 0;
		padding: 0;
		font-size: 0.8em;
	}
}

@for $i from 1 through 9 {
	.gallery-columns-#{$i} .gallery-item {
		@include media(medium) {
			float: left;
			width: col_width(9 / $i, 9, $max-width, $column-gutter);

			&:nth-child(#{$i}n + #{$i + 1}) {
				clear: both;
			}
		}
	}
}
