/* ## Archives
--------------------------------------------- */

.post {
	@include clearfix;
	margin-bottom: $base-spacing * 2;
}

.sticky {
	border-top: 4px solid $dark-grey;
	border-bottom: 4px solid $dark-grey;
	padding: $small-spacing 0;

	&:before {
		display: block;
		width: 100%;
		padding: $base-spacing / 2;
		padding-bottom: $base-spacing / 2.25;
		line-height: 1;
		background: $dark-grey;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		content: "Sticky Post";
		margin-bottom: $base-spacing;
	}
	
}

/* ## Pagination
--------------------------------------------- */

.pagination {
	@include clearfix;
	margin: $base-spacing 0 $base-spacing * 2;
	
	ul {
		padding-left: 0;
		margin-bottom: 0;
	}
	
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a,
.archive-pagination span.page-numbers {
	background-color: $base-background-color;
	color: $dark-grey;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 0.8rem 1.2rem;
	text-decoration: none;
	transition: none;
}

.archive-pagination a:focus,
.archive-pagination a:hover,
.archive-pagination .active a,
.archive-pagination .page-numbers.current  {
	background-color: $primary-color;
	color: $base-background-color;
}

/* ## Post Entry Pagination
--------------------------------------------- */

.nav-links {
	font-size: $base-font-size / 1.25;
	margin-bottom: $base-spacing * 2;
}

.nav-links {
	@include clearfix;
	
	.nav-previous {
		float: left;
		text-align: left;
	}
	
	.nav-next {
		float: right;
		text-align: right;
	}
	
}

.page-links {
	margin-bottom: 2rem;
}
