/* ## Buttons
--------------------------------------------- */

#{$all-buttons},
button,
.button,
a.button {
	@include buttons( false );
}

a.button {
	color: #fff;
	text-decoration: none;
}

.button,
button {
	
	&:focus {
		outline: none;
	}
	
}

.button.button-small {
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
}

.button.button-large {
	padding: 1.2rem 4rem;
	font-size: 2rem;
}

.button.button-secondary {
	background-color: $secondary-color;
	border: 3px solid $secondary-color;
	
	&:hover,
	&:focus {
		background-color: darken($primary-color, 15%);
		border: 3px solid darken($primary-color, 15%);
	}
	
}

.button.button-tertiary {
	background-color: $tertiary-color;
	border: 3px solid $tertiary-color;
	
	&:hover,
	&:focus {
		background-color: darken($tertiary-color, 5%);
		border: 3px solid darken($tertiary-color, 5%);
	}
	
}

.button.button-ghost {
	background-color: transparent;
	border: 3px solid darken($light-grey, 10%);
	color: darken($light-grey, 25%);
	
	&:hover,
	&:focus {
		//background-color: $light-grey;
		background-color: darken($light-grey, 25%);
		border: 3px solid darken($light-grey, 25%);
		color: #fff;
	}
	
}

.button.button-square {
	border-radius: $base-border-radius;
}

.button.button-round {
	border-radius: 50px;
	padding: 1.2rem 3rem;
}

.button.button-full {
	width: 100%;
}

button.customize-partial-edit-shortcut-button:hover,
button.customize-partial-edit-shortcut-button:focus {
	color: #fff;
	border: 2px solid #fff;
	top: 2px;
}

/* ## Scroll To Top Button
--------------------------------------------- */

.to-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba($primary-color, 0.8) url(assets/images/to-top.svg) no-repeat center 50%;
	background-size: 15px 15px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	overflow: visible;
	z-index: 1;
	
	@media only screen and (min-width: 1024px) {
		height: 50px;
		width: 50px;
		right: 30px;
		bottom: 30px;
	}
	
	&:hover,
	&:focus {
		background-color: rgba(darken($primary-color, 10%), 0.9);
		outline: none;
	}
	
}

.to-top.top-is-visible {
	visibility: visible;
	opacity: 1;
}

.to-top.top-fade-out {
	opacity: 0.5;
}

.no-touch .to-top:hover {
	background-color: $primary-color;
	opacity: 1;
}
