/* ## Lists
--------------------------------------------- */

@mixin horizontal() {
	
	li {
	display: inline-block;
	margin-right: 10px;
	
		&:last-child {
			margin-right: 0;
		}
	
	}
  
}

@mixin default-ul() {
	list-style-type: disc;
	margin-bottom: $base-spacing;
	padding-left: $base-spacing;
}

@mixin default-ol() {
	list-style-type: decimal;
	margin-bottom: $base-spacing;
	padding-left: $base-spacing;
  
	ol li {
		list-style-type: lower-latin;
	}
	
	ol li ol li {
		list-style-type: lower-roman;
	}
	
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: $base-spacing;

	&%default-ul {
		@include default-ul;
	}

	&%default-ol {
		@include default-ol;
	}
	
	&%horizontal {
		@include horizontal;
	}
	
}

dl {
	margin-bottom: $base-spacing;

	dt {
		font-weight: bold;
		margin-top: $small-spacing;
	}
	
	dd {
		margin: 0;
		font-style: italic;
	}
	
}

.entry-content ul.custom-list-1 li,
.entry-content ul.custom-list-2 li {
	list-style-type: none;
	word-wrap: break-word;
	margin-left: 2rem;
}

.entry-content ul.custom-list-1 li ul li,
.entry-content ul.custom-list-2 li ul li {
	margin-left: 0;
	
	ul {
		margin-left: 0;
	}
	
}

.entry-content ul.custom-list-1 li:before,
.entry-content ul.custom-list-2 li:before { 
	font-family: dashicons;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-right: 0.5rem;
	position: relative;
	top: 3px;
	left: 2px;
	margin-left: -4.5rem;
}

.entry-content ul.custom-list-1 li:before {
	content: '\f139';
}

.entry-content ul.custom-list-2 li:before {
	content: '\f147';
}

.entry-content ul.custom-list-2 li ul li:before {
	content: '\f460';
}
