/* ## Main Sidebar
--------------------------------------------- */

.sidebar {
	font-size: 1.8rem;
	margin-bottom: $base-spacing * 2;
	
	input,
	select,
	.search-form {
		width: 100%;
		margin-bottom: 0;
	}
	
	.widget-title {
		margin-bottom: $small-spacing;
	}
	
}

.sidebar li > ul,
.sidebar li > ol {
	margin-bottom: 0;
}

.sidebar p:last-child,
.sidebar ul > li:last-child,
.sidebar ul:last-of-type,
.sidebar ol:last-of-type {
	margin-bottom: 0;
}

.sidebar .widget {
	margin-bottom: $base-spacing;
	padding: $base-spacing;
	background: $very-light-grey;
	
	&:last-of-type {
		margin-bottom: 0;
	}
	
}
