/* ## Buttons
--------------------------------------------- */

.wp-block-button .wp-block-button__link {
	@include buttons(false);
}

.wp-block-button .wp-block-button__link {
	box-shadow: none;
	margin-bottom: $small-spacing;

	&:hover,
	&:focus {
		box-shadow: none !important;
	}
}

.wp-block-button.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border-color: currentColor;

	&:not(.has-text-color) {
		color: $primary-color;
		border-color: $primary-color;
	}
}
