/* ## Lists
--------------------------------------------- */

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.default-ul,
article ul,
ul.block-editor-block-list__block,
.block-editor-block-list__block ul {
	@include default-ul;
}

ol.default-ol,
article ol,
ol.block-editor-block-list__block,
.block-editor-block-list__block ol {
	@include default-ol;
}

article ol.alignright,
article ul.alignright,
.block-editor-block-list__block ul.alignright,
.block-editor-block-list__block ol.alignright {
	text-align: left;
}

ul,
ol {
	&.horizontal {
		@include horizontal;
	}
}

dl {
	margin-bottom: $base-spacing;

	dt {
		font-weight: bold;
		margin-top: $small-spacing;
	}

	dd {
		margin: 0 0 0 $small-spacing;
		font-style: italic;
	}
}
