/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	margin: $base-spacing 0;
	table-layout: fixed;
	width: 100%;
	word-break: break-word;

	strong {
		font-weight: 600;
	}
}

td,
th {
	text-align: left;
	border-bottom: 1px solid darken($base-border-color, 15%);
}

td {
	padding: $small-spacing / 2;
}

th {
	font-weight: 600;
	padding: 0 $small-spacing / 2;
}

tr,
td,
th {
	vertical-align: middle;
}

.table-wrap {
	overflow-x: scroll;
	margin-bottom: $base-spacing;
}

.min-500 {
	width: 500px;

	@media only screen and (min-width: 540px) {
		width: 100%;
	}
}
