/* ## Site Structure
--------------------------------------------- */

.site-inner,
.content-sidebar-wrap,
.wrap {
	margin: 0 auto;
}

.content-sidebar-wrap,
.wrap {
	max-width: $max-width;
}

.site-inner {
	max-width: 100%;
	padding: $base-spacing * 2 $base-spacing;
}

.full-width-content .site-inner,
.full-width-padded .site-inner {
	padding-top: 0;
}

.entry {
	background-color: $base-background-color;
	padding: 0;
	margin-bottom: $base-spacing * 2;
}

.entry-content,
.entry-summary {
	padding-top: 3rem;
}

.first-block-align-full .entry-content {
	padding-top: 0 !important;
}

.last-block-align-full .site-inner {
	padding-bottom: 0 !important;
}

/* ### Content */

.content-sidebar .content {
	width: 100%;

	@media only screen and (min-width: 900px) {
		float: left;
		width: col_width(2, 3, $max-width, $column-gutter);
	}
}

.sidebar-content .content {
	width: 100%;

	@media only screen and (min-width: 900px) {
		float: right;
		margin-left: percentage($column-gutter / $max-width);
		width: col_width(2, 3, $max-width, $column-gutter);
	}
}

.full-width-padded .content > * {
	width: 100%;

	@media only screen and (min-width: 900px) {
		margin-right: auto;
		margin-left: auto;
		width: col_width(2, 3, $max-width, $column-gutter);
	}
}

.full-width-content .content {
	width: 100%;
}

/* ### Sidebar */

.content-sidebar .sidebar {
	width: 100%;

	@media only screen and (min-width: 900px) {
		float: right;
		margin-left: percentage($column-gutter / $max-width);
		width: col_width(1, 3, $max-width, $column-gutter);
	}
}

.sidebar-content .sidebar {
	width: 100%;

	@media only screen and (min-width: 900px) {
		float: left;
		width: col_width(1, 3, $max-width, $column-gutter);
	}
}

/* ## Float Clearing
--------------------------------------------- */

.wrap,
.site-inner,
.content-sidebar-wrap,
.clearfix {
	@include clearfix;
}
