/* ## Primary Sidebar
--------------------------------------------- */

.sidebar {
	font-size: 1.8rem;

	.search-form,
	select {
		width: 100%;
		margin-bottom: 0;
	}
}

.sidebar .widget {
	margin-bottom: $base-spacing;
	padding: $base-spacing;
	background: $very-light-gray;
}

.sidebar > *:last-child,
.sidebar .widget > *:last-child {
	margin-bottom: 0;
}
