/* # Admin Styles
---------------------------------------------------------------------------------------------------- */

/* ## WP Login Modal
--------------------------------------------- */

#wp-auth-check-wrap #wp-auth-check {
	background-color: inherit;
}

/* ## WP Dashboard
--------------------------------------------- */

#website_details_dashboard_widget .agency-logo {
	width: 195px;
	height: 45px;
	display: block;
	padding: 10px 0 5px;
}

#website_details_dashboard_widget .agency-title {
	font-style: italic;
	font-weight: 700;
	font-size: 16px;
	padding: 10px 0 5px;
}

.metabox-holder .postbox-container .empty-container {
	border: none;
}

/* ## Layout Settings Meta Box
--------------------------------------------- */

#ajv-proto-layout-meta-box input {
	text-align: center;
}

#ajv-proto-layout-meta-box label.box {
	border: 3px solid transparent;
	display: block;
	float: left;
	margin: 10px 10px 10px 0;
	text-align: center;
	max-width: 85px;
	max-height: 76px;
}

#ajv-proto-layout-meta-box label.box img {
	max-width: 85px;
	pointer-events: none;
}

#ajv-proto-layout-meta-box label.box:hover,
#ajv-proto-layout-meta-box label.box:focus {
	border: 3px solid #ccc;
}

#ajv-proto-layout-meta-box label.box.selected {
	border: 3px solid #0085ba;
}

.ie8 #ajv-proto-layout-meta-box input,
.no-js #ajv-proto-layout-meta-box input {
	display: inline;
}

.ie8 #ajv-proto-layout-meta-box input.screen-reader-text,
.no-js #ajv-proto-layout-meta-box input.screen-reader-text {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	margin: 5px 0 0 -7px;
}

/* ## Widgets Admin Page
--------------------------------------------- */

@media only screen and (min-width: 481px) {
	.widget-liquid-right {
		position: -webkit-sticky;
		position: sticky;
		top: 42px;
	}
}

/* ## Media Uploader
--------------------------------------------- */

.media-frame select.attachment-filters {
	max-width: 100%;
}

.widget-content .custom-media-button {
	margin-top: 5px;
}

/* ## Block Editor
--------------------------------------------- */

.components-button.is-primary:hover:not(:disabled) {
	color: #fff !important;
}

#editor .block-editor-writing-flow__click-redirect {
	min-height: 50px;
}

#editor .postbox > .postbox-header .hndle {
	border-bottom: none;
}

#editor .edit-post-layout__metaboxes {
	padding: 0;
}

#editor .edit-post-layout__metaboxes .edit-post-meta-boxes-area {
	margin: 0;
}

.wp-block-image-selector {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

	button,
	img {
		display: block;
	}

	img {
		box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
	}

	img[src*='svg'] {
		background: #eee;
		min-width: 100px;
	}
}

.components-range-control {
	width: 100%;
}

.block-editor-block-parent-selector .components-button.has-icon .dashicon {
	margin-right: 0;
}

// Custom Columns Block extension.
.responsive-setting-options {
	.components-panel__row:nth-child(2) {
		margin-top: 10px;
	}

	.components-radio-control {
		.components-base-control__field {
			margin-bottom: 0;
		}
	}

	.components-radio-control__option {
		display: flex;
		margin-bottom: 10px;

		&:last-of-type {
			margin-bottom: 0;
		}

		> label {
			position: relative;
			top: -1px;
		}
	}

	.components-range-control {
		margin-left: 22px;

		svg {
			fill: #777;
		}
	}
}

/* ## Autoptimize Settings
--------------------------------------------- */

.wp-admin.settings_page_autoptimize #autoptimize_admin_feed {
	display: none !important;
}

.wp-admin.settings_page_autoptimize #autoptimize_main {
	width: 100%;
}
