// Generate mobile-first media queries.
@mixin media($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media only screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
		+ "Please make sure it is defined in `$breakpoints` map.";
	}
}

// Define horizontal list styles.
@mixin horizontal() {
	li {
		display: block;
		float: left;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}

// Define default unordered list styles.
@mixin default-ul() {
	list-style-type: disc;
	padding-left: $base-spacing;
	margin-bottom: $base-spacing;

	ul {
		padding-left: $base-spacing;
	}

	ul li {
		list-style-type: circle;
	}
}

// Define default ordered list styles.
@mixin default-ol() {
	list-style-type: decimal;
	padding-left: $base-spacing;
	margin-bottom: $base-spacing;

	ol {
		padding-left: $base-spacing;
	}

	ol li {
		list-style-type: lower-latin;
	}

	ol li ol li {
		list-style-type: lower-roman;
	}
}

// Define button styles.
@mixin buttons($important: false) {
	$imp: null;

	@if $important == true {
		$imp: !important;
	} @else {
		$imp: null;
	}

	appearance: none $imp;
	-webkit-font-smoothing: antialiased $imp;
	background-color: $primary-color $imp;
	border-radius: $base-border-radius $imp;
	border: 3px solid transparent $imp;
	color: #fff $imp;
	cursor: pointer $imp;
	display: inline-block $imp;
	font-family: $base-font-family $imp;
	font-size: 1.8rem $imp;
	font-weight: 400 $imp;
	line-height: 1 $imp;
	padding: 1.2rem 1.6rem $imp;
	text-decoration: none $imp;
	user-select: none $imp;
	vertical-align: middle $imp;
	white-space: normal $imp;
	position: relative $imp;

	&:hover,
	&:focus {
		background-color: darken($primary-color, 15%) $imp;
		color: #fff $imp;
		border: 3px solid transparent $imp;
		top: 1px $imp;
	}

	&:disabled {
		cursor: not-allowed $imp;
		opacity: 0.5 $imp;
	}
}
